<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Flight No.: </div>
    <div><%= flight.flightNo %></div>
    <div>Depature Date: </div>
    <div><%= flight.departs %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Arrival: </div>
    <div><%= flight.destination %></div>
  </section>

  <%- include('../partials/footer') %>