<%- include('../partials/header') %>

  <h2 id="availableFoster">Available Cats to Fosters:</h2>

  <div class="allCatsPhotos">
      <% cats.forEach(function(cat) { %>
      <div class="catInfo">
          <div class="catImage"><img src="<%= cat.photoOne %>" alt="Cat" width=300>
              <div>
                  <h2><%= cat.name %></h2>
                  <h3><%= cat.years %> years, <%= cat.months %> months</h3>
                <a href="/cats/<%= cat._id %>" class="learnMore">Learn More</a>
              </div>
          </div>
      </div>
      <% }); %>
  </div>

  <%- include('../partials/footer') %>
