<%- include('../partials/header') %>

<table>
    <thead>
      <tr>
        <t>Name</th>
        <th>Age</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SmallCat</td>
        <td>2 years old</td>
      </tr>
    </tbody>
  </table>

<section id="show-page">
    <div>Name: </div>
    <div><%= cat.name %></div>
    <div>Age: </div>
    <div><%= cat.age %></div>
    <div>Sex: </div>
    <div><%= cat.sex %></div>
    <div>Weight: </div>
    <div><%= cat.weight %></div>
    <div>FIV +: </div>
    <div><%= cat.fiv %></div>
    <div>Location: </div>
    <div><%= cat.location %></div>
    <div>Location: </div>
    <div>East Austin</div>
  </section>

  <div class="divTable">
      <div class="divTableBody">
      <div class="divTableRow">
      <div class="divTableCell">Name:</div>
      <div class="divTableCell">SmallCat</div>
  </div>
      <div class="divTableRow">
      <div class="divTableCell">Age:</div>
      <div class="divTableCell">2 Years Old</div>
      </div>
      <div class="divTableRow">
      <div class="divTableCell">Sex:</div>
      <div class="divTableCell">Female</div>
      </div>
      </div>
      </div>



  <%- include('../partials/footer') %>
