<%- include('../partials/header') %>

<!-- THIS IS FOR ALL AVAILABLE CATS TO BE SHOWN -->

  <h2 id="availableFoster">Available Cats to Fosters:</h2>
  <div class="allCatsPhotos">
    <div class="catImage"><img src="images/cat1_1.jpeg" alt="Cat" width=300>
      <div class="catInfo">
          <% cats.forEach(function(m) { %>
            <div>
              <h2><%= m.name %></h2>
              <h3><%= m.age %></h3>
              <td><a href="/cats/<%= m._id %>">Learn More</a></td>
            </tr>
            <% }); %>
      </div>
    </div>
    <div class="catImage"><img src="images/cat2_1.jpeg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="#" class="learnMore">Learn More</a>
      </div>
    </div>
    <div class="catImage"><img src="images/cat3_1.jpeg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="" class="learnMore">Learn More</a>
      </div>
    </div>
    <div class="catImage"><img src="images/cat4_1.jpeg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="#" class="learnMore">Learn More</a>
      </div>
    </div>
    <div class="catImage"><img src="images/cat5_1.jpg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="#" class="learnMore">Learn More</a>
      </div>
    </div>
    <div class="catImage"><img src="images/cat6_1.jpg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="#" class="learnMore">Learn More</a>
      </div>
    </div>
    <div class="catImage"><img src="images/cat1_1.jpeg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="#" class="learnMore">Learn More</a>
      </div>
    </div>
    <div class="catImage"><img src="images/cat2_1.jpeg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="#" class="learnMore">Learn More</a>
      </div>
    </div>
    <div class="catImage"><img src="images/cat3_1.jpeg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="#" class="learnMore">Learn More</a>
      </div>
    </div>
    <div class="catImage"><img src="images/cat4_1.jpeg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="#" class="learnMore">Learn More</a>
      </div>
    </div>
    <div class="catImage"><img src="images/cat5_1.jpg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="#" class="learnMore">Learn More</a>
      </div>
    </div>
    <div class="catImage"><img src="images/cat6_1.jpg" alt="Cat" width=300>
      <div class="catInfo">
          <h2>Name</h2><h3>Age</h3>
          <a href="#" class="learnMore">Learn More</a>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>
