<%- include('../partials/header') %>

<!-- THIS IS FOR A SPECIFIC CAT'S INFO TO BE SHOWN -->

<section id="show-page">
    <div>Name: </div>
    <div><%= cat.name %></div>
    <div>Age: </div>
    <div><%= cat.age %></div>
    <div>Sex: </div>
    <div><%= cat.sex %></div>
    <div>Weight: </div>
    <div><%= cat.weight %></div>
    <div>FIV +: </div>
    <div><%= cat.fiv %></div>
    <div>Location: </div>
    <div><%= cat.location %></div>
    <div>Location: </div>
    <div>East Austin</div>
  </section>

  <!-- <br><br><h2>Updates</h2>
<form id="add-review-form" method="POST"
  action="/movies/<%= movie._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Date:</label>
  <select name="rating">

  </select>
  <input type="submit" value="Add Review">
</form> -->

  <%- include('../partials/footer') %>
