<%- include('../partials/header') %>

<div class="catGallery">
    <div class="catProfile"><img src="<%= cats.photoOne %>" alt="Cat Profile Pic 1" width=350></div>
    <div class="catProfile"><img src="<%= cats.photoTwo %>" alt="Cat Profile Pic 2" width=350></div>
    <div class="catProfile"><img src="<%= cats.photoThree %>" alt="Cat Profile Pic 3" width=350></div>
  </div>

<div class = catHistory>
      <div class="catAddInfo">
        <h2>Additional Info: </h2>
        <h3>Good with Dogs? <%= cats.dog %></h3>
        <h3>Good with Cats? <%= cats.cat %></h3>
        <h3>Good with Kids? <%= cats.kid %></h3>
        <h3>Current Weight? <%= cats.weight %></h3>
        <h3>Long-Term Meds? <%= cats.rx %></h3>
      </div>

      <div class="CatInfo">
        <h2><%= cats.name %></h2>
        <h3><%= cats.years %> years, <%= cats.months %> months</h3>
        <h4><%= cats.bio %></h4>
      </div>

      <div class="catLocalInfo">
        <h2>My Pickup Location: </h2>
        <h3><%= cats.location %> Center</h3>
        <h3>1234 Our Community Dr.</h3>
        <h3>Austin, TX 78705</h3>
      </div>

      <div>
        <h2>Interested in <%= cats.name %>? </h2>
        <p><a href="/caretakers/new" class="btn">Send My Profile</a></p>
      </div>

      <div class="catHistoryInfo">
        <h2>History</h2>
        <h3>8/16/2019 - Recieved heartworm treatment </h3>
        <h3>8/16/2019 - Recieved flea treatment </h3>
        <h3>8/15/2019 - Arrived at Our Community </h3>
      </div>

      <div class="delete">
        <h2>Cat Adopted?</h2>
      <form action="index/<%= cats._id %>?_method=DELETE" method="POST" class="delete-form">
        <button type="submit" class="deleteCat">Remove</button></form>
      </div>

    </div>
  </div>
  
  <%- include('../partials/footer') %>