<!-- <section id="show-page">
    <div>
      <% cats.forEach(function(cat) { %>
      <div>Name: </div>
      <div><%= cat.name %></div>
      <div>Age: </div>
      <div>><%= cat.years %> years, <%= cat.months %> months</div>
      <div>Sex: </div>
      <div><%= cat.sex %></div>
      <div>Weight: </div>
      <div><%= cat.weight %></div>
      <div>FIV +: </div>
      <div><%= cat.fiv %></div>
      <div>Location: </div>
      <div><%= cat.location %></div>
      <div>Location: </div>
      <div>East Austin</div>
      <% }); %>
    </div>
    </section> -->